.expandable-formatter .js-collapsed {
  overflow: hidden;
}
.expandable-formatter .expandable-formatter--ellipsis,
.expandable-formatter .expandable-formatter--trigger {
  display: none;
}
.expandable-formatter .expandable-formatter--ellipsis {
  margin-right: .25em;
}
