{#
/**
 * @file
 * Default theme implementation for the expandable formatter.
 */
#}
{% set classes = [ 'expandable-formatter' ] %}

<div {{ attributes.addClass(classes) }}>

  <div class="expandable-formatter--content">{{ content|raw }}</div>

  {% if use_ellipsis %}
    <span class="expandable-formatter--ellipsis">…</span>
  {% endif %}

  <span class="expandable-formatter--trigger">
    <a href="javascript:void(0)" class="{{ trigger_classes }}">{{ attributes['data-expanded-label'] }}</a>
  </span>

</div>
